<ion-view view-title="Timelapse">
    <ion-content>
        <div class="row">
            <div class="col">
                <video id="timelapse_player" class="video-js vjs-default-skin"
                       controls preload="auto" width="auto" height="auto" style="width:100% !important; height:auto !important">
                       poster="http://hydro.homelinux.net/img/video_poster.png"
                       data-setup='{"autoplay": false}'>
                    <source src="http://hydro.weekendhack.it/timelapse.mp4" type='video/mp4'/>
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web
                        browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
            </div>
        </div>
    </ion-content>
</ion-view>
